// BASE
@use "./partials/base/reset";
@use "./partials/base/tipografia";



//COMPONENTS
@use "./partials/components/artbook";
@use "./partials/components/footer";
@use "./partials/components/table";
@use "./partials/components/lore";
@use "./partials/components/principal";
@use "./partials/components/contacto";
@use "./partials/components/recomendaciones";