// BASE
@use "./partials/base/reset";
@use "./partials/base/tipografia";



//COMPONENTS
@use "./partials/components/artbook";
@use "./partials/components/footer";
@use "./partials/components/general";