
.h1-jefes{
    text-align: center;
    text-decoration: underline;
    color: #f1c40f;

}
.artbook-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: black;
    color: white;
    text-decoration: underline white;
    
}

.artbook{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 1200px;
    max-width: 90%;
    img{
        width: 100%;
        height: 600px;
        border-radius: 5px;
    }
}