.contacto-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;

  h1 {
    color: #f1c40f;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  p {
    color: black;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.5;
  }
}


.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .campo {
    width: 100%;
  }

  input, textarea {
    width: 100%;
    padding: 15px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    outline: none;
  }
}