footer{
    padding: 16px 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
        .iconos-footer{
            display: flex;
            gap: 15px;
            img{
                width: 50px;
                height: 50px;
                border: 2px solid black;
                border-radius: 10px;
                
         }
    }
}

.p-footer{
    color: gray;
}