.lore-container {
  max-width: 900px;
  margin: 0 auto 80px;
  padding: 0 20px;

  h1 {
    text-decoration: underline;
    text-align: center;
    color: #f1c40f;
    font-size: 48px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .intro-lore {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
    color: black;
  }

  .lore-bloque {
    margin-bottom: 40px;
    
    p {
      color: black;
      font-size: 18px;
      line-height: 1.6;
      text-align: justify;
    }
  }
}

.bosses-section {
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    text-align: center;
    text-decoration: underline;
    color: #f1c40f;
    font-size: 42px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .bosses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }

    h5 {
      color: #f1c40f;
      font-size: 36px; 
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 2px solid #555;
      text-transform: uppercase;
    }

    p {
      color: black;
      font-size: 16px;
      line-height: 1.5;
      text-align: justify;
    }
  }


@media (max-width: 600px) {
  main {
    padding: 15px;
  }
  
  .lore-container h1 {
    font-size: 32px;
  }
}